body {
  background: white;
  font-family: 'Marvel', sans-serif;
  font-size: 18px;
  color: black;
  margin: auto 0px;
}

a { text-decoration: none; color: black; border-bottom: dotted #999999 1px }
a:link {text-decoration: none; color: black; }
a:visited {text-decoration: none; color: black; }
a:active {text-decoration: none; color: black; }
a:hover {text-decoration: none; color: black; border-bottom: dotted red 2px; }

#wrapper {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
  padding: 20px;
  width: 90%;
}

h1 { font-family: "Aldrich", cursive; font-weight: bold; font-size: 36px;}

a#play {
  font-family: "Aldrich", cursive;
  font-size: 26px; padding: 10px;
  background: #cccccc;
  border-bottom: none;
  color: black;
}
a#play:hover {text-decoration: none; color: black;
  border-bottom: solid red 2px; }

p { padding: 10px; }

#fftbox, #wavebox {
  position: absolute;
  width: 500;
  height: 100;
}

#canvasbox {
  position: relative;
  width: 500px;
  height: 100px;
}
