div.error {
  color: red;
}

body {
  font-family: Verdana; font-size: 96%;
  padding: 10px;
}

h2 { font-size: 20px; padding: 5px; }

form { border: 0; padding: 10px; }

fieldset { border: 0; }

label { width: 10em; float: left; }

label.error { 
  float: none; color: red; padding-left: .5em; vertical-align: top;
}
